:root {
  --thinkness: 3px;
  --widthcarre: 90px;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./Fonts/Montserrat/Montserrat-Regular.ttf");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Gestion du Header */
.conteneur-flexible-head {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  top: 0;
  height: 40px;
  width: 100%;
}
.logo {
  display: block;
  width: 70%;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  padding-left: 20px;
}
.sandwich {
  display: block;
  width: 30%;
  margin-right: 20px;
  text-align: right;
  justify-content: right;
}
#menu1 {
  display: block;
  list-style: none;
  font-size: 16pt;
  padding-left: 0;
  text-align: right;
  margin-right: 0;
  position: relative;
  top: -40px;
  width: 100%;
  left: 100%;
  transition: left 330ms ease-in-out;
}
#menu1 a:any-link {
  text-decoration: none;
  color: black;
}
#menu1 a:hover {
  color: cadetblue;
}
#btnicone {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
  left: 0px;
  transition: left 330ms ease-in-out;
}
#btn:hover {
  cursor: pointer;
  transform: scale(2);
  transition: transform 330ms ease-in-out;
}
/* Fin du Header */

/* Main */
.conteneur-flexible {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.element-flexible {
  text-align: center;
  box-sizing: border-box;
  /*margin: 2px;*/
}
.main1 {
  display: block;
  width: 100%;
  height: auto;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  background-color: rgb(63, 88, 105);
  color: white;
  text-align: center;
}
.imgMain {
  width: 100%;
  height: auto;
}
.imgMain img {
  width: 100%;
  text-align: center;
}
.textMain {
  display: block;
  width: 100%;
  position: absolute;
  top: 6em;
}
.GetStart {
  font-size: 18pt;
  border: solid 2px;
  display: inline-block;
  padding: 10px;
  margin: 0;
}
.elem1 {
  width: 100%;
}
.imgx {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.elemMain {
  display: block;
  width: 50%;
  height: auto;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: white;
}
.buzz {
  background-color: lightgray;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.txtbuzz {
  width: 60%;
  margin: auto;
}
.finbuzz {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
}
.finbuzz p {
  width: 25%;
}
.p1 {
  font-size: 16pt;
}
.p2 {
  text-align: right;
  font-size: 14pt;
}
.txtGras {
  font-weight: bolder;
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 2px;
}
.txtGris {
  font-size: 8pt;
  margin-top: 2px;
  margin-bottom: 5px;
}
.txtGris2 {
  color: gray;
  font-size: 8pt;
  margin-top: 2px;
  margin-bottom: 3px;
}
.txtPetit {
  font-size: 8pt;
  margin-top: 2px;
  margin-bottom: 5px;
}
.elem61 {
  width: 25%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.elem62 {
  width: 25%;
}
.elem63 {
  width: 25%;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}
.elem64 {
  width: 25%;
  text-align: left;
}
.elemend {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  font-size: 10pt;
  /*text-align: left;*/
}
.Police1 {
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  font-size: 50pt;
  font-weight: bold;
}
.Couleur1 {
  background-color: rgb(63, 88, 105);
  color: white;
}
.conteneur-flexible-foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.myform {
  display: block;
  border: 1px solid lightgray;
  padding: 4px;
}
.myform input {
  border: 0;
  width: 90%;
}
.carre {
  border-style: solid;
  border-width: var(--thinkness);
  border-color: white;
  height: 25px;
  width: var(--widthcarre);
  /*position: relative;*/
  align-self: center;
}
.top {
  border-width: var(--thinkness) var(--thinkness) 0 var(--thinkness);
}

.middle {
  border-width: 0px 0px 0 var(--thinkness);
  height: 45px;
}

.bottom {
  border-width: 0px var(--thinkness) var(--thinkness) var(--thinkness);
}
.txtwd {
  position: relative;
  padding-left: calc((var(--widthcarre) / 2));
  text-align: left;
  left: calc((var(--widthcarre) / 2) - var(--thinkness));
  top: calc((var(--widthcarre) - var(--thinkness)) * -1);
}
.txtwd2 {
  position: relative;
  font-size: 8pt;
  text-align: left;
  padding-left: calc((var(--widthcarre) / 2));
  top: calc(((var(--widthcarre) - var(--thinkness)) * -1) - 20px);
  left: calc((var(--widthcarre) / 2) - var(--thinkness));
}
.zntxtwd {
  position: relative;
  align-self: left;
  left: calc((var(--widthcarre) * -1) + var(--thinkness) + 10px);
}
.flexbox {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: -60%;
  left: calc(50% - (var(--widthcarre) / 2) - var(--thinkness));
}
/* si taille téléphone */
@media screen and (max-width: 640px) {
  .elemMain{
    display: block;
    width: 100%;
    height: auto;
    font-family: "Montserrat-Regular", Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
  }
  .elem61 {width: 50%;}
  .elem62 {width: 50%;}
  .elem63 {width: 50%;}
  .elem64 {width: 50%;}
}
